html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img:hover{
    transform: translate(1.5);
}


body,html{
    height: 100%;
    font-family: 'Inconsolata', monospace;
}
.app-wrapper{
    min-height: 100%;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/logoo.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
   
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    opacity: 8;
}
.banner-content p{
    color: white;
    font-size: 40px;
    padding: 15px 0px 15px 0px;
}
.banner-content a:not(.logo){
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color:transparent;
    color: white;
    border: 2px solid white;
    padding: 15px 20px 15px 20px;
    margin: 20px 0px 20px 0px;
}
.banner-content a:hover:not(.logo){
    background-color: black;
    color: white;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.intro .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.intro{
    background-color: #023433;
    color: white;
    padding: 30px 0px 30px 0px;
}
.intro-text-1{
    font-weight: 400;
    font-size: 20px;
    padding: 30px 0px 30px 0px;
}
.intro-text-2{
    font-weight: 500;
    font-size: 35px;
    padding-bottom: 10px;
}
i{
    width: 30%;
    font-size: 20px;
   
}
.intro-text-4{
    font-weight: 400;
    font-size: 20px;
    padding: 40px 0px 20px 0px;
    width: 35%; 
    text-align: justify;
}
.middle{
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-image: url(../images/photo.jpg);
    background-attachment: fixed;
    display: flex;
    background-size: cover;
   height: 600px;
}
.middle .container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
}
.tag-lines{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}
.tag-lines p{
    padding: 5px 0px 5px 0px;
}
.contact{
    background-color: #023433;
    color: white;
}
.contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0px 30px 0px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact-head{
   display: flex;
   justify-content: flex-start;
   width: 70%;
}
.underlined{
    font-size: 30px;
    padding: 15px 0px 15px 0px;
    border-bottom: white solid 2px;
    width: 40%;
}
.underlined1{
    font-size: 30px;
    padding: 15px 0px 15px 0px;
    border-bottom: black solid 2px;
    width: 40%;
}
.empty{
    width: 60%;
    border-bottom: 1px solid grey;
}
input{
   margin: 10px 0px 10px 0px;
   padding: 10px 40px 10px 10px;
   background-color: #274648;
   color: grey;
}
.contact-form a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    background-color:transparent;
    color: white;
    border: 2px solid white;
    padding: 15px 20px 15px 20px;
    margin: 20px 0px 20px 0px;
}
.contact-form a:hover{
    background-color: black;
    color: white;
}

.gallery{
    background-color: black;
    color: white;
}
.gallery .container{
    display: flex;
    flex-direction: column;
    padding: 100px 0px 100px 0px;
}
.panel{
    display: flex;
    padding: 50px 0px 50px 0px;
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.profilepic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.photos{
    width: 150px;
    height: 150px;
}
.photos:hover{
    
    transform: scale(1.3);
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0px 50px 0px;
}
h3{
    font-size: 25px;
    font-weight: 600;
}
.desc{
    font-size: large;
    font-weight: 500;
}
.contactfooter{
    padding: 20px 0px 20px 0px;
    font-size: x-large;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
   
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
    
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    
  }
  .social{
      font-size: 30px;
      padding: 10px 0px 10px 0px;
  }
  .footer .container{
      display: flex;
      justify-content: space-between;
  }
  .minifooter{
      background-color: black;
      color: white;
  }
  .footer-left{
      width: 50%;
  }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    text-align: center;
  }
  .imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: black;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    text-align: center;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  .modal-content h2{
      font-size: xx-large;
      color: white;
  }
